body {
    margin: 0;
    padding: 0;
    background-color: rgb(100, 151, 177);
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app{
    background-color: white;
    box-shadow: rgba(100, 151, 177, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
    border-radius: 10px;
    padding: 10px;
    width: 700px;
    margin-top: 50px;
}

.button-container, .info-container{
    display:flex;
    align-items: center;

}

/* button that lives inside a button container */
.button-container button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 120px;
    background-color: transparent;
    font-size: 11px;
}

input {
    margin: 11px 0;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1.5px solid teal;
}

/* Button to add a task */
.create{
    border: 1.5px solid teal;
    color: teal;
    background-color: transparent;
    text-transform: uppercase;
}

.create:hover{
    background-color: rgba(0, 128, 128, 0.15);
}

.create:active{
    background-color: teal;
    color: white;
}

/* Button to sign out */
.signout{
    border: 1.5px solid teal;
    color: teal;
    background-color: transparent;
    text-transform: uppercase;
}

.signout:hover{
    background-color: rgba(0, 128, 128, 0.15);
}

.signout:active{
    color: white;
    background-color: teal;
}

/* Button to edit task */
.edit{
    border: 1.5px solid teal;
    color: teal;
    background-color: transparent;
    text-transform: uppercase;
}

.edit:hover{
    background-color: rgba(0, 128, 128, 0.15);
}

.edit:active{
    color: white;
    background-color: teal;
}

/* Button to delete task */
.delete{
    border: 1.5px solid rgb(195, 78, 28);
    color: rgb(195, 78, 28);
    background-color: transparent;
    text-transform: uppercase;
}

.delete:hover{
    background-color: rgba(255,201,193, 0.30);
}

.delete:active{
    color: white;
    background-color: rgb(195, 78, 28);
}

/* List Header */
.list-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
    float:left;
    margin: 10px;
}

/* List Item */
.list-item{
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
}
/* Tick */
.tick{
    padding: 10px;
}

.list-item .tick path {
    padding: 15px;
    fill:none;
    stroke: black;
    stroke-miterlimit: 10;
    stroke-width: 25px;
}


/* Modal components */
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 500px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px  24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.modal .form-title-container {
    display:flex;
    justify-content: space-between;
}

.modal .form-title-container button {
    border: none;
    background-color: transparent;
}

.modal .form-title-container button:active {
    color: red;
}

.modal form {
    display:flex;
    flex-direction:column; 
}

.modal label {
    font-size: 13px;
}

/* Auth Components */

.auth-container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.auth-container-box {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.auth-container-box form {
    display: flex;
    flex-direction: column;
    height: 350px;
    padding: 20px;

}

.auth-sign{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: rgb(50, 50, 50);
    display: flex;
}

.auth-options {
    display: flex;
}

.auth-options button {
    width: 50%;
    border: none;
    padding: 10px;
    color: teal;

}

.copyright {
    font-size: 13px;
    margin: 10px;
    color: rgb(120, 120, 120);

}

.user-email {
    float: right;
    font-size: 13px;
    margin: 10px;
    color: rgb(120, 120, 120);
}

/* progress bars */
.outer-bar {
    width: 200px;
    height: 14px;
    background-color: rgb(220, 220, 220);
    border-radius: 7px;
    overflow: hidden;

}

.inner-bar {
    height: 14px;

}

.task-title {
    width: 300px;
}

.banner {
    width: 100%;
    background-color: white;
    height: 5px;
    margin-top: 0;
}

.tasky {
    width: fit-content;
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: rgb(120, 120, 120);
    text-align: center;
}