body {
    margin: 0;
    padding: 0;
    background-color: rgb(100, 151, 177);
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app{
    background-color: white;
    box-shadow: rgba(100, 151, 177, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
    border-radius: 10px;
    padding: 10px;
    width: 700px;
    margin-top: 50px;
}

.button-container, .info-container{
    display:flex;
    align-items: center;

}

/* button that lives inside a button container */
.button-container button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 120px;
    background-color: transparent;
    font-size: 11px;
}

.create{
    border: 1.5px solid teal;
    color: teal;
    background-color: transparent;
    text-transform: uppercase;
}

.create:hover{
    background-color: rgba(0, 128, 128, 0.15);
}

.create:active{
    background-color: teal;
    color: white;
}

.signout{
    border: 1.5px solid teal;
    color: teal;
    background-color: transparent;
    text-transform: uppercase;
}

.signout:hover{
    background-color: rgba(0, 128, 128, 0.15);
}

.signout:active{
    color: white;
    background-color: teal;
}

/* List Header */
.list-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

/* List Item */
.list-item{
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
}

.tick{
    padding: 10px;
}

.list-item .tick path {
    padding: 15px;
    fill:none;
    stroke: black;
    stroke-miterlimit: 10;
    stroke-width: 25px;
}

/* Buttons for the individual tasks */
.edit{
    border: 1.5px solid teal;
    color: teal;
    background-color: transparent;
    text-transform: uppercase;
}

.edit:hover{
    background-color: rgba(0, 128, 128, 0.15);
}

.edit:active{
    color: white;
    background-color: teal;
}

.delete{
    border: 1.5px solid rgb(195, 78, 28);
    color: rgb(195, 78, 28);
    background-color: transparent;
    text-transform: uppercase;
}

.delete:hover{
    background-color: rgba(255,201,193, 0.30);
}

.delete:active{
    color: white;
    background-color: rgb(195, 78, 28);
}
